<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-4">
        <div class="container">
            <hr/>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                上传文件
            </button>
            <hr/>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" data-whatever="@jason" onclick="Load()">
                显示文件
            </button>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog" aria-label="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h3 class="modal-title">上传文件</h3>
                </div>
                <div class="modal-body">
                    <form action="/common/file/import" method="POST" enctype="multipart/form-data">
                        文件：<input type="file" name="file"/>
                        <input type="submit"/>
                    </form>
                </div>
                <div class="modal-footer">
                   <!-- <button type="submit" class="btn btn-primary" data-dismiss="modal">上传</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--右边-->
    <div class="col-sm-8">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro :hasPermission="common:dict:add" type="button"
                                class="btn  btn-primary" onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro :hasPermission="common:dict:batchRemove"
                                type="button" class="btn  btn-danger" onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <select data-placeholder="选择类别" class="form-control chosen-select"
                                tabindex="2" style="width: 100%">
                            <option value="">选择类别</option>
                        </select>
                    </div>
                </div>
                <table id="excelTable" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro :hasPermission="common:dict:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro :hasPermission="common:dict:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro :hasPermission="common:dict:add">
    <script type="text/javascript">
        var s_add_h = '';
    </script>
</div>
<!--</div>-->
<div th:include="include :: footer"></div>
<script type="text/javascript"
        src="/js/appjs/common/file/file.js">

</script>
</body>
</html>